@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 120 10% 95%;
    --foreground: 120 20% 10%;
    --card: 0 0% 100%;
    --card-foreground: 120 20% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 120 20% 10%;
    --primary: 123 44% 39%;
    --primary-foreground: 120 100% 98%;
    --secondary: 120 10% 88%;
    --secondary-foreground: 120 20% 10%;
    --muted: 120 10% 80%;
    --muted-foreground: 120 10% 45%;
    --accent: 20 100% 41%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 10% 80%;
    --input: 120 10% 80%;
    --ring: 123 44% 39%;
    --chart-1: 123 44% 39%;
    --chart-2: 20 100% 41%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 120 20% 6%;
    --foreground: 120 10% 95%;
    --card: 120 20% 6%;
    --card-foreground: 120 10% 95%;
    --popover: 120 20% 6%;
    --popover-foreground: 120 10% 95%;
    --primary: 123 44% 39%;
    --primary-foreground: 120 100% 98%;
    --secondary: 120 10% 15%;
    --secondary-foreground: 120 10% 95%;
    --muted: 120 10% 15%;
    --muted-foreground: 120 10% 65%;
    --accent: 20 100% 41%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 10% 15%;
    --input: 120 10% 15%;
    --ring: 123 44% 39%;
    --chart-1: 123 44% 39%;
    --chart-2: 20 100% 41%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
